@charset "utf-8";

:root {
  --dark: #212529;
  --gray: #6c757d;
  --light: #f8f9fa;
}

html {
  height: 100%;
}

body {
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  font-family: ui-sans-serif, system-ui, sans-serif;
  height: 100%
}

aside {
  width: 320px;
}

.content {
  display: flex;
  flex-grow: 1;
}

main {
  padding: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

thead {
  border-bottom: 2px solid var(--dark);
}

tbody {
  border-bottom: 2px solid var(--dark);
}

tbody tr {
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

th, td {
  padding: .25rem .5rem;
}

input[type=radio], input[type=checkbox] {
  margin-right: .25rem;
}

select {
  margin-left: .25rem;
  padding: .25rem 0;
}

select[multiple] {
  vertical-align: top;
}

button {
  border-width: 1px;
  padding: .25rem .5rem;
}