<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/head :: head}"></th:block>
<body>
  <div class="content">
    <aside th:replace="~{fragments/sidebar :: sidebar('option')}"></aside>
    <main>
      <h2>ラジオボタン</h2>
      <div>
        <label>
          <input type="radio" name="department" value="100" th:checked="${active == '100'}" />
          管理部
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="department" value="200" th:checked="${active == '200'}" />
          人事部
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="department" value="300" th:checked="${active == '300'}" />
          営業部
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="department" value="800" th:checked="${active == '800'}" />
          情報システム部
        </label>
      </div>
      <h2 class="mt-5">チェックボックス</h2>
      <div>
        <label>
          <input type="checkbox" name="position" value="10" th:checked="${#lists.contains(actives, '10')}" />
          部長
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" name="position" value="20" th:checked="${#lists.contains(actives, '20')}" />
          一般社員
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" name="position" value="30" th:checked="${#lists.contains(actives, '30')}" />
          派遣社員
        </label>
      </div>
      <h2 class="mt-5">th:eachを使用したラジオボタン</h2>
      <div th:each="department : ${departments}">
        <label>
          <input type="radio" name="department-iteration" th:value="${department.key}" th:checked="${active == department.key}" />
          <th:block th:text="${department.value}"></th:block>
        </label>
      </div>
      <h2 class="mt-5">th:eachを使用したチェックボックス</h2>
      <div th:each="position : ${positions}">
        <label>
          <input type="checkbox" name="position-iteration" th:value="${position.key}" th:checked="${#lists.contains(actives, position.key)}" />
          <th:block th:text="${position.value}"></th:block>
        </label>
      </div>
    </main>
  </div>
  <th:block th:insert="~{fragments/script :: script}"></th:block>
</body>
</html>